@import url(http://fonts.googleapis.com/css?family=Satisfy);

/** Default CSS page **/

body {
    font-weight: 300;
    font-size: 2em;
    position: relative;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;   
}

/** Header Navigation **/
header .navbar {
    padding: 15px 0 25px 0;
    transition: all .5s ease-out;
}

header .navbar-default {
    background-color: transparent;
    border: none;
}

header .navbar-default .navbar-nav a {
    color: black;
    padding: 10px 15px;
}

header .navbar-default .navbar-nav a:hover {
    color: maroon;
}

header .navbar-default .navbar-nav .active a {
    font-weight:400;
    color: maroon;
    background: transparent;
    border-bottom: 4px solid maroon;
    text-shadow: none;
}

header .navbar-default .navbar-nav .active a:hover {
    color: black;
    background: transparent;
    text-shadow: none;
}

/** NavBar Brand **/

header .navbar-brand {
    margin-top: -15px;
    padding-left: 50px;
}

header .nav.navbar-nav.navbar-right {
   background: url(../img/NavBG.png);
    background-position:center;
    background-repeat:no-repeat;
    background-size: 100% 100%;
}

header .navbar-brand h1 {
    color: beige;
    font-family: 'Satisfy', cursive;
    font-size: 2em;
    text-align: center;
    
    background: url(../img/logoBG.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding-left: 10px;
    padding-right: 10px;
}

header .navbar-brand span.subhead {
    display: block;
    font-family: 'Play', sans-serif;
    font-size: .6em;
    font-weight: 100;
}

header .navbar-brand p {
    color: white;
	font-family: 'Titillium Web', sans-serif;
    font-size: 1.1em;
}

/** Mobile NavBar Toggle **/

header .navbar-toggle {
    background-color: maroon;
}

header .navbar-default .navbar-toggle .icon-bar {
    background-color: beige;
}

@media only screen
and (max-width: 786px) {
    header .navbar-collapse.in {
        background-color: rgba(255,255,255,0.5);
    }  
    header .nav.navbar-nav.navbar-right {
    background: none;
}
    
}

/** NavBar inBody **/
header .inBody {
    background: rgba(100,0,0,1);
}

header .navbar.inBody {
    padding-top: 0px;
    padding-bottom:0px;
}

header .navbar.inBody h1 {
    display: block;
    font-size: 1.5em;
    background: none;
}
header .inBody .navbar-brand {
    margin-top: 0px;
}

header .inBody .navbar-brand span.subhead {
  display: none;
}

header .navbar.inBody .navbar-nav {
    padding-top: 10px;   
}

/** Still to be sorted **/
.section {
    padding: 0 10%;   
}
.content {
    vertical-align: middle;
    margin: 0 auto;
    padding: 0 2%;
}

.fontChange {
	font-family: 'Play', sans-serif;	
}

/** Page Styling **/

.page h1 {
	font-family: 'Titillium Web', sans-serif;
	font-size: 3.5em;
	text-align: center;
    color: steelblue;
    padding: 10px;
    margin-bottom: 50px;
    background: url("../img/HeaderBanner.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.page h2 {
    text-align: center;
    font-size: 2.5em;
}

.page p {
	font-family: 'Play', sans-serif;
	font-size: 1.5em;
}

.imgBox {
    margin: 0 auto;
}

/** Content: About Me **/
#aboutMe {
    background: url(../img/ivory_paper_texture.jpg);
    background-color: antiquewhite;
}

/** Content: Current Project **/
#currentProject {
    background-color: white;
}

/** Footer **/
footer {
	background-color: #FFF;
	color: #999;
	text-align: center;	
	padding-top: 1%;
	padding-bottom: 1%;
}

footer p {
 padding-top: 2% 0;   
}

.page {
    padding: 50px 0;
}

/** Introduction **
.intro {
	font-family: 'Titillium Web', sans-serif;
	font-size: 5em;
	color:#FFEEC6;
	text-shadow: white;
	text-align: center;

    -webkit-animation: wait 3s; /* Safari, Chrome and Opera > 12.1 *
       -moz-animation: wait 3s; /* Firefox < 16 *
        -ms-animation: wait 3s; /* Internet Explorer *
         -o-animation: wait 3s; /* Opera < 12.1 *
            animation: wait 3s;
}

.secondIntro {
	font-family: 'Titillium Web', sans-serif;
	font-size: 2em;
	color: white;
	text-align: center;

    -webkit-animation: wait 6s; /* Safari, Chrome and Opera > 12.1 *
       -moz-animation: wait 6s; /* Firefox < 16 *
        -ms-animation: wait 6s; /* Internet Explorer *
         -o-animation: wait 6s; /* Opera < 12.1 *
            animation: wait 6s;
}

.introContainer {
	background: url(../img/mainBanner.png);
	background-size: cover;
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 *
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 *
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer *
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 *
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}



@keyframes wait {
    0% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

@-moz-keyframes wait {
    0% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
@-webkit-keyframes wait {
    0% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
@-ms-keyframes wait {
    0% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
@-o-keyframes wait {
    0% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
} **/