@import url(http://fonts.googleapis.com/css?family=Satisfy);

/** Default CSS page **/

body {
    color: white;
    font-weight: 700;
    line-height: 1.75;
    font-size: 2em;
    position: relative;
    font-family: 'Poiret One', cursive;
}

h2, h3, h4, h5, h6 {
    margin: 0;
}

h1 {
    font-family: 'Poiret One', cursive;
	font-size: 3.5em;
	text-align: center;
    text-shadow: none;
}

hr {
    border-color: rgb(0,129,160);
    background: none;
    width: 20%;
    height: 3px;
}

/** Page Styling **/
.banner-textbox-left{
    position: absolute;
    left: 10%;
    top: 25%;
    max-width: 500px;
}

.banner-textbox-right{
    position: absolute;
    right: 10%;
    top: 25%;
    max-width: 500px;
    text-align: right;
}

.banner-textbox-center{
    position: absolute;
    left: 50%;
    top: 50%;
    max-width: 500px;
    transform: translate(-50%, -50%);
    /** Browser compatibility **/
        -ms-transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
    text-align: center;
}

.banner-textbox p{
    text-indent: 20%;
    color: white;
    font-size: 2em;
}

.banner-textbox h2{
    margin-bottom: 50px;
    font-family: 'Abril Fatface', cursive;
    font-size: 2em;
    color: skyblue;
    text-shadow: 1px 1px 5px black;
}

.banner-textbox p2{
    color: white;
    font-size: 1.2em;
}

.banner-textbox span.subhead {
    font-family: 'Satisfy', cursive;
    font-size: 2.25em;
    color: antiquewhite;
    text-shadow: 3px 3px 3px black;
}
.centered-text{
    text-align: center;
    margin: 0 auto;
}

.page h2 {
    text-align: center;
    font-size: 1.5em;
    padding: 10px;
    margin-bottom: 25px;
}

.page p {
    font-family: 'Poiret One', cursive;
	font-size: 1.3em;
}

img.content-example {
    max-height: 200px;
    margin: 0 auto;
}

.text-box {
    margin: 30px 15%;
    background-color: rgba(0,0,0,0.5);
    padding: 50px 50px;
    border-radius: 25px
}

.portfolio {
    border: solid 5px white;
}

.page {
    padding: 50px 0;
}

.contact-method {
    color: white;
    border-right: groove 1px rgba(255,255,255,0.8);
}

/** Header Navigation **/
header .navbar {
    padding: 15px 0 25px 0;
    transition: all .5s ease-out;
}

header .navbar-default {
    background-color: transparent;
    border: none;
}

header .navbar-default .navbar-nav a,
header .navbar-default .navbar-nav a:focus{
    font-family: 'Poiret One', cursive;
    background: transparent;
    color: white;
    padding: 10px 15px;
}


header .navbar-default .navbar-nav a:hover {
    color: lightgoldenrodyellow;
    background: transparent;
}

header .navbar-default .navbar-nav .active a {
    font-weight:900;
    color: #E18942;
    background: transparent;
    border-bottom: 4px solid #E18942;
    text-shadow: none;
}

header .navbar-default .navbar-nav .active a:active,
header .navbar-default .navbar-nav .active a:focus{
    font-weight:900;
    color: #E18942;
    background: transparent;
    border-bottom: 4px solid #E18942;
    text-shadow: none;
}

header .navbar-default .navbar-nav .active a:hover{
    color: peachpuff;
    background: transparent;
    text-shadow: none;
}

/** NavBar Brand **/

header .navbar-brand {
    margin-top: -15px;
    padding-left: 50px;
}


header .navbar-brand h1 {
    color: white;
    font-family: 'Satisfy', cursive;
    font-size: 2em;
    text-align: center;
    display:none;
}


/** Mobile NavBar Toggle **/

header .navbar-toggle{
    background-color: rgb(0,50,60);
}

header .navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

/** NavBar inBody **/
header .inBody {
    background: rgb(0,50,60);
}

header .navbar.inBody {
    padding-top: 0px;
    padding-bottom:0px;
}

header .navbar.inBody h1 {
    display: block;
    font-size: 1.5em;
    background: none;
}
header .inBody .navbar-brand {
    margin-top: 0px;
}

header .inBody .navbar-brand span.subhead {
  display: none;
}

header .navbar.inBody .navbar-nav {
    padding-top: 10px;   
}

/** Carousel Styling **/

#main .item {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100%;
}


/** Content: About Me **/
#aboutMe {
    background: rgb(50,50,50);
    background-size: cover;
    background-position: center;
}

#aboutMeIcon{
    max-height: 250px;
}

/** Project Styling **/
#Projects{
    color: black;
}

#Projects .project-description{
    color: transparent;
    background-color: rgb(0,125,160);
    opacity: 0;
    padding: 40px 20px;
    margin: 0 -15px;
    transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -webkit-transition: opacity 0.3s ease-in-out;
    height: 400px;
}
#Projects .project-description:hover{
    opacity: 0.8;
    color: white;
    transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -webkit-transition: opacity 0.3s ease-in-out;
}
#Projects .project-description p{
    font-size: 0.8em
}

#Projects .project-description h2 {
    margin-bottom: 15px;
}


#Project01{
    background-image: url(../img/ThrusterIcon.jpg);
    background-position: center center;
    background-size: cover;
}

#Project02{
    background-image: url(../img/NudeFudeIcon.png);
    background-position: center center;
    background-size: cover;
}

#Project03{
    background-image: url(../img/GypsyIcon.jpg);
    background-position: center center;
    background-size: cover;
}

#Project04{
    background-image: url(../img/Wiseaudio.jpg);
    background-position: center center;
    background-size: cover;
}


/** Contact Styling **/

#contact {
    background-color: rgb(0,100,120);
}
#contact .centered-text h2 {
    margin: 0;
}

#contact .centered-text p {
    font-size: 1.2em;
}

#contact-container {
    font-size: 0.5em;
    padding-top: 30px;
}

#contact a{
    color: black;
}

/** Footer **/
footer {
	background-color: rgb(53,53,53);
	color: white;
    font-weight: 100;
    font: sans-serif;
    font-size: 0.7em;
	text-align: center;
    line-height: 0.5;
    padding: 15px;
}

/** Thruster Page Styling **/

#Thruster-intro{
    color: white;
    background: url("../img/hdSpace.jpg");
}

@media only screen and (max-width: 992px) {
    header .navbar-default .navbar-nav a {
        font-size: 0.8em;
    }

    header .navbar-brand h1 {
        margin-left: -30px;
    }
    
}

@media only screen and (max-width: 768px) {
    header .inBody {
        background-color: rgba(0,50,60,0.8);
    }
    
    header .nav.navbar-nav.navbar-right {
        background: none;
    }
}
    
@media only screen and (max-width: 480px) {
    .banner-textbox p{
        font-size: 1em;
    }

    .banner-textbox h2{
        font-size: 1em;
    }

    .banner-textbox p2{
        font-size: 0.9em;
    }
    
    #about-me-banner h2{
        font-size: 0.5em;
        padding: 5px;
        text-shadow: none;
    }
    #aboutMe h1{
        font-size: 1.5em
    }
    #aboutMe p{
        font-size: 1.1em;
    }
    #Temp-Section p{
        font-size: 1em;
    }
    
    footer{
       font-size: 0.5em; 
    }

    
}