@import url(http://fonts.googleapis.com/css?family=Satisfy);

/** Default CSS page **/

body {
    font-weight: 700;
    line-height: 1.75;
    font-size: 2em;
    position: relative;
    font-family: 'Poiret One', cursive;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}


/** Header Navigation **/
header .navbar {
    padding: 15px 0 25px 0;
    transition: all .5s ease-out;
}

header .navbar-default {
    background-color: transparent;
    border: none;
}

header .navbar-default .navbar-nav a {
    font-family: 'Poiret One', cursive;
    color: beige;
    padding: 10px 15px;
}


header .navbar-default .navbar-nav a:hover {
    color: #B95835;
}

header .navbar-default .navbar-nav .active a {
    font-weight:900;
    color: #E18942;
    background: transparent;
    border-bottom: 4px solid #E18942;
    text-shadow: none;
}

header .navbar-default .navbar-nav .active a:hover {
    color: peachpuff;
    background: transparent;
    text-shadow: none;
}

header img.BannerImages {
    width:100%;
}

/** NavBar Brand **/

header .navbar-brand {
    margin-top: -15px;
    padding-left: 50px;
}


header .navbar-brand h1 {
    color: beige;
    font-family: 'Satisfy', cursive;
    font-size: 2em;
    text-align: center;
    
    background: url(../img/logoBG.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding-left: 10px;
    padding-right: 10px;
}

header .navbar-brand span.subhead {
    display: block;
    font-family: 'Play', sans-serif;
    font-size: .6em;
    font-weight: 100;
}

@media only screen and (max-width: 992px) {
    header .navbar-default .navbar-nav a {
        font-size: 0.8em;
    }

    header .navbar-brand h1 {
        margin-left: -30px;
    }
    
}

/** Mobile NavBar Toggle **/

header .navbar-toggle {
    background-color: maroon;
}

header .navbar-default .navbar-toggle .icon-bar {
    background-color: beige;
}

@media only screen and (max-width: 768px) {
    header .navbar-default {
        background-color: rgba(50,0,0,0.35);
    } 
    
    header .nav.navbar-nav.navbar-right {
        background: none;
    }
}
    


/** NavBar inBody **/
header .inBody {
    background: rgba(100,0,0,1);
}

header .navbar.inBody {
    padding-top: 0px;
    padding-bottom:0px;
}

header .navbar.inBody h1 {
    display: block;
    font-size: 1.5em;
    background: none;
}
header .inBody .navbar-brand {
    margin-top: 0px;
}

header .inBody .navbar-brand span.subhead {
  display: none;
}

header .navbar.inBody .navbar-nav {
    padding-top: 10px;   
}

/** Carousel Styling **/

#main .item {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100%;
}

/* Still to be sorted 
.section {
    padding: 0 10%;   
}


.fontChange {
	font-family: 'Poiret One', cursive;
}*/

/** Page Styling **/
.banner-textbox-left{
    position: absolute;
    left: 10%;
    top: 25%;
    max-width: 500px;
}

.banner-textbox-right{
    position: absolute;
    right: 10%;
    top: 25%;
    max-width: 500px;
    text-align: right;
}

.banner-textbox-center{
    position: absolute;
    left: 50%;
    top: 50%;
    max-width: 500px;
    transform: translate(-50%, -50%);
    text-align: center;
}

.banner-textbox p{
    text-indent: 20%;
    color: white;
    font-size: 2em;
}

.banner-textbox h2{
    margin-bottom: 50px;
    font-family: 'Abril Fatface', cursive;
    font-size: 2em;
    color: skyblue;
    text-shadow: 1px 1px 5px black;
}

.banner-textbox p2{
    color: white;
    font-size: 1.2em;
}

.banner-textbox span.subhead {
    font-family: 'Satisfy', cursive;
    font-size: 2.25em;
    color: antiquewhite;
    text-shadow: 3px 3px 3px black;
}


.page h1 {
    font-family: 'Abril Fatface', cursive;
	font-size: 3.5em;
	text-align: center;
    text-shadow: 2px 2px 1px black;
    color: goldenrod;
    padding: 10px;
    margin-bottom: 50px;
    background-color: rgba(100,0,0,0.8);
    border: solid 5px;
    border-radius: 30px
}

.content {
    padding: 50px;
}

.page h2 {
    font-family: 'Abril Fatface', cursive;
    text-align: center;
    color: white;
    font-size: 2em;
    padding: 10px;
    text-shadow: 3px 3px 3px black;
}

.page p {
    font-family: 'Poiret One', cursive;
	font-size: 1.3em;
}

.imgBox {
    margin: 0 auto;
}

img.content-example {
    max-height: 600px;
    margin: 0 auto;
}

.text-box {
    margin: 30px 15%;
    background-color: rgba(0,0,0,0.5);
    padding: 50px 50px;
    border-radius: 25px
}

/** Content: About Me **/
#aboutMe {
    background: url(../img/AboutBanner.png);
    background-position: center 20px;
    min-height: 800px;
}

#aboutMe h1{
    padding: 0;
    margin: 0;
    background: none;
    border: none;
}

#about-me-banner
{
    padding: 0px;
}

#about-me-banner h2{
    font-size: 1em;
    padding: 5px;
    text-shadow: none;
}

#about-me-banner p{
    color: black;
}

#about-me-banner.description-text {
    padding: 10% 0;
}

#about-me-banner.description-text h1{
    display: none;
}

#about-me-banner.description-text p{
    padding: 5% 20%;
    display: block;
}

.panel-heading{
    padding: 5px 5px 0 5px;
    background: rgba(100,0,0,1);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom: solid 1px white;
}
.panel-body{
    padding: 5% 15%;
    color: beige;
    background-color: rgba(255,255,255,0.8);
    border: solid 5px rgb(150,0,0);
}

.panel-body li{
    color: black;
}
.nav-tabs{
	border-bottom: none;
}


/** Panel settings **/
#aboutMe .nav-tabs > li > a,
#aboutMe .nav-tabs > li > a:hover,
#aboutMe .nav-tabs > li > a:focus {
    color: beige;
}
#aboutMe .nav-tabs > .open > a,
#aboutMe .nav-tabs > .open > a:hover,
#aboutMe .nav-tabs > .open > a:focus,
#aboutMe .nav-tabs > li > a:hover,
#aboutMe .with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    color: beige;
	background-color: rgb(75,0,0);
}
#aboutMe .nav-tabs > li.active > a,
#aboutMe .nav-tabs > li.active > a:hover,
#aboutMe .nav-tabs > li.active > a:focus {
	color: #E18942;
	background-color: rgba(150,0,0,1);
}

/** Project Styling **/
#Projects{
    padding: 0;
    background: url("../img/Titan-PirateBase.jpg");
}

#Temp-Section h2{
    padding-top: 50px;
}

#Temp-Section p{
    padding: 0 100px;
    text-shadow: 1px 1px 1px black;
}

#Projects h1{
    border-radius: 0px;
    border: none;
    border-top: solid 5px;
    border-bottom: solid 5px;
    margin: 0px;
}

#Projects p{
    color: white;
}

#Project01 {
    padding: 0;
    background: url("../img/ThrusterIcon.jpg");
    background-position: center center;
    background-size: cover;
    height: 500px;
}


#Project02 {
    padding: 0;
    background: url("../img/WebIcon.jpg");
    background-position: center center;
    background-size: auto 500px;
    height: 500px;
}

#Project03 {
    padding: 0;
    background: url("../img/NudeFudeIcon.png");
    background-position: center center;
    background-size: 100% auto;
    height: 500px;
}

#Project04 {
    padding: 0;
    background: url("../img/ComingSoonBlue.jpg");
    background-position: center center;
    background-size: auto 500px;
    height: 500px;
}

#Project05 {
    padding: 0;
    background: url("../img/ComingSoonYellow.jpg");
    background-position: center center;
    background-size: auto 500px;
    height: 500px;
}

#Project06 {
    padding: 0;
    background: url("../img/ComingSoonRed.jpg");
    background-position: center center;
    background-size: auto 500px;
    height: 500px;
}

.quote {
    background-color: rgba(150,0,0,.3);
    position: absolute;
    bottom: 0;
    width: 35%;
    font-weight: 400;
    border-radius: 0 50px 0 0;
    max-height: 100px;
}

.quote span.hover-info{
    color: bisque;
    font-size: 12px;
    padding: 0 5px;
}

.quote p{
    padding: 0 10px;
    font-size: 1em;
    display: none;
    text-align: left;
}

.quote h2{
    display: none;
}

.quote:hover {
    background-color: rgba(150,0,0,.7);
    max-height: none;
    width: 75%;
}

.quote:hover p{
    display: block;
}

.quote:hover h2{
    display: block;
}

.quote:hover span.hover-info{
    display: none;
}

/** Contact Styling **/

.contact-method {
    border-right: groove 1px rgba(0,0,0,0.2);
}

#contact-container {
    font-size: 0.5em;
}

#contact a{
    color: black;
}

/** Footer **/
footer {
	background-color: dimgrey;
	color: white;
    font-weight: 100;
    font: sans-serif;
    font-size: 0.7em;
	text-align: center;
    line-height: 0.5;
    padding: 15px;
}

.page {
    padding: 50px 0;
}

/** Thruster Page Styling **/

#Thruster-intro{
    color: white;
    background: url("/img/hdSpace.jpg");
}
/** Introduction **
.intro {
	font-family: 'Titillium Web', sans-serif;
	font-size: 5em;
	color:#FFEEC6;
	text-shadow: white;
	text-align: center;

    -webkit-animation: wait 3s; /* Safari, Chrome and Opera > 12.1 *
       -moz-animation: wait 3s; /* Firefox < 16 *
        -ms-animation: wait 3s; /* Internet Explorer *
         -o-animation: wait 3s; /* Opera < 12.1 *
            animation: wait 3s;
}

.secondIntro {
	font-family: 'Titillium Web', sans-serif;
	font-size: 2em;
	color: white;
	text-align: center;

    -webkit-animation: wait 6s; /* Safari, Chrome and Opera > 12.1 *
       -moz-animation: wait 6s; /* Firefox < 16 *
        -ms-animation: wait 6s; /* Internet Explorer *
         -o-animation: wait 6s; /* Opera < 12.1 *
            animation: wait 6s;
}

.introContainer {
	background: url(../img/mainBanner.png);
	background-size: cover;
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 *
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 *
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer *
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 *
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}



@keyframes wait {
    0% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

@-moz-keyframes wait {
    0% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
@-webkit-keyframes wait {
    0% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
@-ms-keyframes wait {
    0% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
@-o-keyframes wait {
    0% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
} **/